/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: 700;
  border-right: solid 1px #ccc;
}

.header-logo:hover {
  background-color: #000;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: solid 1px #ccc;
}

.header-list > li:hover {
  background-color: #000;
}