/* PHASE 4: Footer */

.footer {
  background-color: #fff;
  /* width: 860px; */
  width: 900px;
  margin: auto;
  /* padding: 20px; */
  color: #aaa;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.footer-copy {
  float: left;
  display: block;
  padding: 20px;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;

}

.footer a {
  display: block;
  padding: 20px 20px 20px 0;

}

.footer a:hover {
  color: #000;
}
