<h1>Edit <%= "#{@user.username}'s" %> profile</h1>

<%= render "form",
            user: @user,
            form_action: user_url(@user.id),
            errors: flash.now[:errors],
            form_method: :patch %>