<h1>Bands</h1>

<ul class="btn-list">
  
  <% @bands.each do |band| %>
    <li ><a href="<%= band_url(band) %>" class="btn main-btn"><%= band.name%></a></li>
  <% end %>
  
</ul>

<nav class="page-nav">
  <ul class="btn-list">
    <li><a href="<%= new_band_url %>" class="btn nav-btn">Add Band</a></li>
  </ul>
</nav>