<% action_url = action == :login ? session_url : users_url %>
<% submit_value = action == :login ? 'Login' : 'Sign Up' %>

<%= render "shared/errors" %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user-username">Username:</label>
  <input type="text" name="user[username]" id="user-username">
  <label for="user-password">Password:</label>
  <input type="password" name="user[password]" id="user-password">
  <input type="submit" value="<%= submit_value %>">
</form>